#game{
    -fx-background-image:url("background-top.jpg") ;
    -fx-background-size: auto 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}
.cellNumber{
    -fx-background-color: white;
    -fx-id:number;
}

.one{
    -fx-background-image: url("cellZero.jpg");
    -fx-id: control;
}

#arrow{
    -fx-background-image: url("img_555371.png");
    -fx-background-size: auto 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#playbutton{
    -fx-background-image: url("playbutton.png");
    -fx-background-size: 100% auto;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}